<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQL_IMPLEMENTATION.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SQL_IMPLEMENTATION.My.MySettings>
            <setting name="txtPC" serializeAs="String">
                <value />
            </setting>
            <setting name="txtSERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="txtDATABASE" serializeAs="String">
                <value />
            </setting>
        </SQL_IMPLEMENTATION.My.MySettings>
    </applicationSettings>
</configuration>
