<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQL_IMPLEMENTATION.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SQL_IMPLEMENTATION.My.MySettings>
            <setting name="txtPC" serializeAs="String">
                <value>ALEX</value>
            </setting>
            <setting name="txtSERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="txtDATABASE" serializeAs="String">
                <value>ISERP165</value>
            </setting>
        </SQL_IMPLEMENTATION.My.MySettings>
    </userSettings>
</configuration>
